

    body {
        font-family: Open Sans;
        padding-top: 55px;
        
    }

    h1 {
        font-weight: 700;
        font-size: 3em;
    }

    .h2, h2 {
        text-align:center;
        text-decoration: underline;

    }
    

    #header {
    background-image: url("https://wongak626.github.io/images/chinatown.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    position: relative;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    text-align: center;
    margin: auto;
    padding: 200px 0;

    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    text-shadow: 2px 2px #000000;

    }

    #header h1 {
        margin: 0;
        padding: 0 15px;
        text-align: center;
    }

    #fa-desktop {

    font-size:60px;
    }

    #about {
        background-color: #F2F3F4;
        padding-bottom: 30px
    }

    #about h2 {
        padding-top: 10px;
    }

    #skills {
        padding-bottom: 30px
    }

    #skills h2 {
        padding-top: 10px;
    }
    #portfolio {
        background-color: #F2F3F4;
        padding-bottom: 30px;
        overflow: hidden;
    
    }
    #portfolio h2 {
        padding-top: 10px;
    }

    #contact {
        padding-bottom: 30px;
    }
    #contact h2 {
        padding-top: 10px;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    div.gallery {
        margin: 20px;
        border: 2px solid black;
        border-radius: 2px;
        float:left;    
        width: 180px;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
        background-color: black;
        color: white;
    }








   



